{% extends "base.html" %}

{% load static %}
<h1>BEM VINDO A PAGINA CADASTRO</h1>
{% block content %}
<section class="default light">
    <div class="section-title">Inserir </div>
    <div class="section-desc"></div>
    <div class="section-body">
        <div class="section-aboutus">
            <div class="section-aboutus--left">
                <h4>Aparelho</h4>
                <a class="button" style="display: inline-block; margin-bottom:5px;" 
                    href="{% url 'aparelhos:save_aparelho' %}">Cadastrar um Aparelho</a>
    
                                         
            </div>
            <div class="section-aboutus--right">
                {% block aparelho_content %}
                    
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Data de criação
                                </th>
                                <th>
                                    Ação
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aparelho in aparelhos %}
                            <tr class="{% cycle '' 'pure-table-odd' %}">
                                <td>
                                    {{ aparelho|upper }}
                                </td>
                                <td>
                                    {{ aparelho.created_at }}
                                </td>
                                <td>
                                    <div class="pure-button-group" role="group" aria-label="...">
                                        <a href="{% url 'aparelhos:edit_aparelho' aparelho.pk %}" class="pure-button">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'aparelhos:deletar_aparelho' aparelho.pk %}" class="pure-button">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan=3>Não existes ambientes a ser listados</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endblock aparelho_content %}
            </div>
        </div>
    </div>
</section>                  
        
{% endblock content %}